Package: com.twizzyindy.runmyoore
Name: RunMyOoredoo
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Run My Oredoo (Myanmar) on jailbroken devices
Maintainer: TwizzyIndy
Author: TwizzyIndy
Section: Tweaks
Version: 1.0.0-17
Installed-Size: 268
